
body{
    background-color:rgb(93, 93, 210) ;
    margin: 100px;
    font-family: sans-serif;
    font-size: 0.8rem;
}
hr{
    border:1px solid rgb(93, 93, 210);
    width:0%;
    border-radius: 10px;
    
}

.container{
    padding-top:40px;
    padding-bottom:70px;
    background-color:white;
    box-shadow: 0 0 13px rgb(0, 0, 0);
    border-radius: 30px;
    width: 100%;
}


a{
    white-space: pre; /*use instead of br because we can only edit the CSS*/
    line-height:50px;
    background-color: rgb(93, 93, 210);
    border-radius: 10px;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

a:hover{
    color:rgb(255, 255, 255);
    background-color: #223094;
    border-radius: 10px;
}


h1, h2{
    color: rgb(93, 93, 210);
    text-align: center;
}

.card-title{
    padding: 0cqi;
    margin-top: 0%;
}

form{
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 8px gray;
    border-collapse: collapse;
}

.table{
    border-collapse: collapse;
    margin-left: auto; /*centers table*/
    margin-right: auto; /*centers table*/
    font-size: 15px;
}
th{
    border-bottom: 1px solid rgb(93, 93, 210);
    padding-top: 1rem;
    text-align: left;
}

td, th{
    padding-left: 2rem;
}

button{
    background-color: rgb(93, 93, 210);
    border: none;
    padding: 0.7rem;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 8px gray;
    margin: 1.5rem;
    cursor: pointer;
   
}

