body {
    background-color: rgb(93, 93, 210);
    margin: 100px;
    font-family: sans-serif;
    font-size: 0.8rem;
}

hr {
    border: 2px solid rgba(128, 128, 128, 0.306);
    width: 70%;
    border-radius: 10px;

}

.container {
    padding-top: 40px;
    padding-bottom: 70px;
    background-color: white;
    box-shadow: 0 0 13px rgb(0, 0, 0);
    border-radius: 30px;
    display: inline-block;
    flex-direction: row;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.col {
    margin: 10px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 8px gray;
    flex-basis: 12rem;
    text-align: center;
}

a {
    white-space: pre;
    /*use instead of br because we can only edit the CSS*/
    line-height: 50px;
    background-color: rgb(116, 116, 200);
    border-radius: 10px;
    border: 1px solid rgb(116, 116, 200);
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

a:hover {
    color: rgb(255, 255, 255);
    background-color: #223094;
    border-radius: 10px;
}


h1,
h2 {
    color: rgb(93, 93, 210);
    text-align: center;
}

.card-title {
    padding: 0cqi;
    margin-top: 0%;
}

form {
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 8px gray;
    border-collapse: collapse;
}

.table {
    border-spacing: 2rem;
    box-shadow: 0 0 8px gray;
    border-collapse: collapse;
}



th {
    padding-top: 2rem;
    text-align: left;
}

td,
th {
    padding-left: 2rem;
}

button {
    background-color: rgb(93, 93, 210);
    border: none;
    padding: 0.7rem;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 8px gray;
    margin: 1.5rem;
    cursor: pointer;

}